<h2>Data source: <b>{{ data_source }}</b></h2>
<table>
{% for item in items %}
<tr>
  <td><img src="{{ item.imgURL }}"></td>
  <td><span>LEGO {{ item.setNumber }}</span></td>
  <td>http://amazon.pl{{ item.detailPageLink }}</td>
  <td><span>{{ item.priceInfo.priceToPay.displayString }}</span></td>
</tr>
{% endfor %}
</table>